<p>
<%= @region_msg %>
</p>
<p>

<% for prof in @profiles %>

<%   name = prof.name.gsub(' ','-') %>
<%=  link_to prof.name, {:controller => 'main', :name => "#{name}", :action => :show_profile }  %>
<%   area = get_area(prof) %>
<%=  area %>
<br/>

<% end %>
</p>