<% for column in Profile.content_columns %>
<p>
  <b><%= column.human_name %>:</b> <%=h @profile.send(column.name) %>
</p>
<% end %>

<%= link_to 'Edit', :action => 'edit', :id => @profile %> |
<%= link_to 'Back', :action => 'list' %>
