
<style type"text/css">

body {
     background: grey;
     color: black;
     font-size: 18;
     }
</style>

<h3> Mobile surf for cell phone internet access using wml pages </h3>

a web browser was detected, you are not accessing this <br/>
page from a phone.

<%= yield :layout %>